html::-webkit-scrollbar{
    width:5px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar-track{
    background:#5eff13e3;
}

html::-webkit-scrollbar-thumb{
    background:rgb(252, 10, 10);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-image: url(images/sinulogbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    transition: top 0.5s ease-in-out;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orangered;
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, 
    rgba(225,225,225,.4), transparent);
    transition: .5s;

}

.header:hover::after {
    left: 100%;
}


.logo1 {
    margin-left: -6rem;
}

.navbar a {
    font-size: 1.15rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar .actives {
    color: aliceblue;
    background-color: rgb(123, 255, 0);
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
}

#check {
    display: none;
}

.icons {
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

@media (max-width: 1024px) {

    main {
        align-items: center;
        flex-wrap: wrap;
    }

    .image-pic {
        width: 100%;
    }

    
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
    main {
        flex-flow: column;
    }
} 

@media (max-width: 826px) {
    .schedule {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .schedule table {
        width: 80%;
        max-width: 600px;
    }

    .videos {
        flex-flow: row;
        flex-wrap: wrap;
    }

}

@media (max-width: 768px)  {
    
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icons {
        display: none;
    }

    .icons #close-icons {
        display: none;
    }

    #check:checked~.icons #close-icons {
        display: block;
    }
    

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        height: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    

    #check:checked~.navbar {
        height: 13.7rem;
        background-color: red;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }

    

}


main {
    display: flex;
    justify-content: center;
}

main div {
    padding-top: 20px;
}

.image {
    align-items: center;
    padding-top: 50px;
    width: 550px;
}
.image-div {
    width: 100%;
}

.image-text {
    margin-top: -60px;
    margin-left: 180px;
    font-size: 22px;
    font-weight: bolder;
    color: red;
    background-color: white;
    width: 320px;
    text-align: center;
    border-radius: 50px;
}

#timer {
    font-size: 3em;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.time-unit {
    font-weight: bold;
    color: yellow;
    background-color: red;
    border-radius: 10px;
    width: 100px;
    max-width: 92px;
    padding: 3px 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sched {
    margin-top: 80px;
    padding: 0;
    justify-content: center;
}

.sched h1 {
    background-color: red;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: .5px;
    text-align: center;
    width: 320px;
    border-radius: 50px;
    top: 0;
    left: 0;
    margin: 7px auto;
}

.sched h2 {
    background-color: yellow;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    width: 220px;
    border-radius: 50px;
    top: 0;
    left: 0;
    margin: 5px auto;
}

.schedule {
    display: flex;
    gap: 5px;
    justify-content: center;
}

table {
    align-content: center;
    background-color: yellow;
    width: 400px;
}

table th {
    background-color: rgb(250, 46, 39);
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table td {
    background-color: azure;
    text-align: center;
    height: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.data {
    font-size: 20px;
    font-weight: bolder;
}

.data1 {
    font-size: 20px;
    font-weight: bolder;
    height: 80px;
}

.trailer {
    margin-top: 20px;
    bottom: 0;
}

.videos {
    display: flex;
    gap: 10px;
    row-gap: 70px;
    width: fit-content;
    align-items: center;
}

.videos div {
    top: 0;
    left: 0;
    margin: -20px auto;
}

iframe {
    border-radius: 2%;
    width: 390px;
    height: 215px;
    top: 0;
    left: 0;
    margin: -20px auto;
}

#About {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin-top: 40px;
}


#About div {
    width: 95%;
    padding: 0;
    top: 0;
    left: 0;
    border-radius: 5px;
    margin: 10px auto;
    align-items: center;
    background-color: white;
}

#About img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    aspect-ratio: 16/2;
    background-attachment: fixed;
    background-position: center;
}

#About h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#About p {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px; 
}

#Contingents .container {
    width: 95%;
    padding: 0;
    top: 0;
    left: 0;
    border-radius: 5px;
    margin: 10px auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#Contingents img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    aspect-ratio: 16/2;
    background-attachment: fixed;
    background-position: center;
}

#Contingents h1 {
    text-align: center;
    margin-top: 10px;
}

#Contingents .container-category {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.category {
    margin: 1rem 2rem;
}

.category p {
    font-size: 1.3rem;
    margin: 10px 0;
}

.act {
    color:red;
}

.act1 {
    color: red;
}

.gwen {
    font-size: 1.1rem;
    font-weight: bold;
}

.category h3 {
    text-align: center;
    margin-top: 10px;
}

.category li {
    color: black;
    font-size: 1.2rem;
    margin-top: 10px;
    list-style-position: inside;
}

#Buy-Ticket {
    background-color: rgba(255, 115, 0, 0.973);
    text-align: center;
    padding: 20px 0;
}

#Buy-Ticket div {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    text-align: center;
}

#Buy-Ticket div div {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    background-color: aqua;

}

#Buy-Ticket .ticket {
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    margin: 10px auto;
    border-radius: 10px;
    
}

.ticket h1, .ticket h3, .ticket button {
    margin: 10px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.ticket p {
    margin: 3px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.ticket button {
    color: white;
    background-color: red;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: red;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    justify-content: center;
    margin: 30px 0;
}

.footer-container h1 {
    margin: 10px 0;
    color:white;
}

footer p {
    color: white;
    margin: 10px 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer div {
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:360px) {
    body {
        background-position: center;
        background-attachment: fixed;
    }
    .logo1 {
        width: 7.5rem;
        height: auto;
        margin-left: -10px;
    }

    header {
        position: fixed;
        top: 0;
    } 

    .nav-closed {
        display: none;
    }
    
    main {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    main div {
        padding-top: 0;
    }

    .image {
        align-items: center;
        width: 100%;
        padding-top: 90px;
        width: 100vw;
        height: 100vh;
    }

    .image-div {
        margin-top:0;
    }

    .image-pic {
        width: 100%;
        max-width: 370px;
        height: auto;
        top: 0;
        left: 0;
        margin: 0 auto;
        position: relative;
    }
    .image-text {
        position: absolute;
        margin-top: 10px;
        margin-left: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2em;
        font-weight: bolder;
        color: white;
        background-color: transparent;
        height: 120px;
        text-align: center;
        border-radius: 50px;
        display: flex;
        width: 360px;
    } 

    .image-text span {
        width: 190px;
        height: 35px;
        padding: 5px;
        display: block;
        margin-bottom: 10px;
        margin-left: 90px;
        text-align: center;
    }

    .tag1 {
        background-color: red;
        width: 150px;
        border-radius: 10px;
    }

    .tag2 {
        background-color: green;
        width: 150px;
        border-radius: 10px;
    }

    .tag2::after {
        content: "\a";
        white-space: pre;
    }

    .tag3 {
        background-color: orangered;
        width: 150px;
        border-radius: 10px;
    }
    
    #timer {
        font-size: 3em;
        justify-content: center;
        text-align: center;
        margin-top: 115px;
        width: 360px;
    }
    
    .time-unit {
        font-weight: bold;
        font-size: 30px;
        color: yellow;
        background-color: red;
        border-radius: 5px;
        width: 92px;
        max-width: 92px;
    }

    .sched {
        margin-top: 10px;
        width: 360px;
    }

    .sched h1, .sched h2 {
        top: 0;
        left: 0;
        margin: 5px auto;
        padding: 5px 0;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .sched h1 {
        width: 240px;
    }

    .sched h2 {
        width: 200px;
    }

    .schedule {
        flex-flow: column;
        top: 0;
        left: 0;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .schedule table {
        width: 90%;
    }

    table th {
        font-size: 15px;
    }

    table td {
        font-size: 13px;
        font-weight: bold;
    }

    .data, .data1 {
        font-size: 15px;
        font-weight: bolder;
    }

    .trailer {
        top: 0;
        left: 0;
    }

    .videos {
        flex-flow: column;
        top: 0;
        left: 0;
        margin: 0 auto;
        padding: 0;
        row-gap: 80px;
        align-items: center;
    }

    iframe {
        border-radius: 2%;
        width: 320px;
        height: 180px;
        
    }

    #About p {
        font-size: 1rem;
    }

    .category {
        width: 80%;
    } 
    .category .SNP {
        margin-left: 20px;
    }

    .category .act1 {
        margin-left: -15px;
        font-size: 20px;
    }

    #About div, #Contingents .container {
        width: 90%;
    }
    
}