* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-image: url(images/sinulogbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, 
    rgba(225,225,225,.4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}


@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px)  {
    
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icons {
        display: none;
    }

    .icons #close-icons {
        display: none;
    }

    #check:checked~.icons #close-icons {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }

}



/* header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.logo {
    padding: 5px;
    margin-left: 20px;
}

nav {
    width: 700px;
    padding: 5px;
}

nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    align-items: center;
    place-content: center;
    padding: 5px;
    height: 50px;

}

nav ul li {
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
}

nav ul li a {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    gap: 2px;
    width: 8rem;
    line-height: 35px;
    padding: 0 5px;
    color: black;
    letter-spacing: 1px;
    border-right: 1px solid red;
}

nav li a:hover {
    color: yellow;
    background-color: red;
    border-radius: 20px;
} */

main {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

main div {
    padding-top: 20px;
}

.image {
    align-items: center;
    padding-top: 50px;
    width: 550px;
}

.image-pic {
    margin-left: -50px;
}
.image-text {
    margin-top: -60px;
    margin-left: 180px;
    font-size: 22px;
    font-weight: bolder;
    color: red;
    background-color: white;
    width: 320px;
    text-align: center;
    border-radius: 50px;
}

#timer {
    font-size: 3em;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.time-unit {
    font-weight: bold;
    color: yellow;
    background-color: red;
    border-radius: 10px;
    width: 100px;
    max-width: 92px;
    padding: 3px 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.sched {
    margin-top: 80px;
    padding: 0;
    width: 900%;
    justify-content: center;
}

.sched h1 {
    background-color: red;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: .5px;
    text-align: center;
    width: 320px;
    border-radius: 50px;
    margin-left: 250px;
    margin-bottom: 10px;
}

.sched h2 {
    background-color: yellow;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    width: 220px;
    border-radius: 50px;
    margin-left: 300px;
    margin-bottom: -25px;
}

.schedule {
    display: flex;
    gap: 5px;
    justify-content: center;
}

table {
    align-content: center;
    background-color: yellow;
    width: 400px;
}

table th {
    background-color: rgb(250, 46, 39);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table td {
    background-color: azure;
    text-align: center;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.data {
    font-size: 20px;
    font-weight: bolder;
}

.data1 {
    font-size: 20px;
    font-weight: bolder;
    height: 80px;
}

.trailer {
    margin-top: 15px;
    bottom: 0;
}

.videos {
    margin-top: -40px;
    display: flex;
    gap: 10px;
    margin-left: 5px;
}

video {
    border-radius: 2%;
}

@media screen and (max-width:360px) {
    body {
        background-position: center;
    }
    .logo1 {
        width: 7.5rem;
        height: auto;
        margin-left: -10px;
    }

    
    main {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    main div {
        padding-top: 0;
    }

    .image {
        align-items: center;
        width: 100%;
        padding-top: 90px;
        width: 100vw;
        height: 100vh;
    }

    .image-div {
        margin-top:0;
        
    }

    .image-pic {
        width: 22rem;
        height: auto;
        margin-left: 10px;
        position: relative;
    }
    .image-text {
        position: absolute;
        margin-top: 10px;
        margin-left: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2em;
        font-weight: bolder;
        color: white;
        background-color: transparent;
        width: 360px;
        height: 120px;
        text-align: center;
        border-radius: 50px;
        display: flex;
        
    } 

    .image-text span {
        width: 190px;
        height: 35px;
        padding: 5px;
        display: block;
        margin-bottom: 10px;
        margin-left: 90px;
    }

    .tag1 {
        background-color: red;
        width: 150px;
        border-radius: 10px;
    }

    .tag2 {
        background-color: green;
        width: 150px;
        border-radius: 10px;
    }

    .tag2::after {
        content: "\a";
        white-space: pre;
    }

    .tag3 {
        background-color: orangered;
        width: 150px;
        border-radius: 10px;
    }
    
    #timer {
        font-size: 3em;
        justify-content: center;
        text-align: center;
        margin-top: 130px;
    }
    
    .time-unit {
        font-weight: bold;
        font-size: 30px;
        color: yellow;
        background-color: red;
        border-radius: 5px;
        width: 92px;
        max-width: 92px;
    }
}