* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}   

body {
    background-image: url(images/sinulogbackground.png);
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: blue;
}

.logo {
}

nav {
    width: 600px;
    background-color: yellow;
}

nav ul {
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
    background-color: red;

}

nav ul li {
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
}

